.form-control{
	background-color: rgb(255, 255, 255);
	border: 1px solid;
}
.btn.btn-default{
	background-color: #BC8F8F;
	color: whitesmoke;
}

.btn.btn-default:hover{
transition:2s;
background-color:#BC8F8F;
}

.btn.btn-primary{
	background-color: #BC8F8F;
	color: whitesmoke;
}
.navbar{
	background-color:#BC8F8F;
	color: whitesmoke;
} 

.grid-row > .row .col, .form-section .grid-row > .section-body .col, .form-dashboard-section .grid-row > .section-body .col, .grid-row > .dialog-assignment-row .col {
    padding: var(--grid-padding);
    border-right: 1px solid #000;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.grid-row > .row .col:last-child, .form-section .grid-row > .section-body .col:last-child, .form-dashboard-section .grid-row > .section-body .col:last-child, .grid-row > .dialog-assignment-row .col:last-child {
    border-right: 1px solid black;
    padding: 8px;
    min-width: 0;
}

//dashboard css
// .widget-head{
//     // background-color: #99f3f7;
//     height: 30px;
//     width: 300px;
//     border-radius: 5px;
// }

// .ellipsis{
//     font-size: larger;
//     font-weight: 400px;
// }