.form-control{
	background-color: lightgrey;
	border: 1px solid;
}
.btn.btn-default{
	background-color: #627D28;
}

.btn.btn-default:hover{
transition:2s;
background-color: grey;
}

.btn.btn-primary{
	background-color: #627D28;
}
.navbar{
	background-color:#627D28;
} 


